<!--

{% extends "bootstrap/base.html" %}
{% block content %}

<div class="container">
	<div class="jumbotron">
		<h2>YOLO App</h2>
		<p>Using machine learning</p>
	</div>
	<div>
		<h2>File Uploader...</h2>
		<form id= "upload-form" action="{{ url_for('predict') }}" method="POST" enctype="multipart/form-data">
			<input type="file" name="file" accept="image/*" multiple>
			<input type="submit" value="send">
	</div>
	
</div>

{% endblock %}

-->
<!DOCTYPE html>
<html>
<head>
	<title>Pablo Escobar</title>


	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="style.css">


</head>
<body>
	Navyaaaa
<div class="container">
	<div class="jumbotron">
		<h2>YOLO Apppp</h2>
		<p>Using machine learning</p>
	</div>

	<div class="containerfluid">
		<div class="site-content">
			<div class="d-flex justify-content-center">
				<div class="d-flex flex-column">
					
					<h1 class="site-title">First project :D</h1>
					<p class="site-desc">Hello this is my first project aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa <br> Productivity itseems <br> trying out all the tags <br> </p>

				</div>
			</div>
		</div>
	</div>








	<div>
		<h2>File Uploader...</h2>
		<form id= "upload-form" action="{{ url_for('predict') }}" method="POST" enctype="multipart/form-data">
			<input type="file" name="file" accept="image/*" multiple>
			<input type="submit" value="send">
	</div>
	
</div>
















<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>